nav {
  position: fixed;
  background: #B23F3F;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

nav h1 {
  color: #FFBDBD;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

nav ul {
  padding: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

nav li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

nav a {
  font-size: 14px;
  background: none;
  color: black;
  text-decoration: underline bold;
  outline: none;
}

nav a:hover,
nav a:focus {
  color: #FFBDBD;
  cursor: pointer;
  outline: 0;
}

main {
  margin: 0 auto;
  max-width: 90%;
  display: block;
  position: relative;
  margin-top: 120px;
  font-family: 'Roboto Slab', serif;
}

main p {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  text-align: justify;
}

main img {
  border-radius: 20px;
  border: #771111 3px solid;
  max-width: 100%;
  margin: 0 auto;
}

/*For offsetting anchor targets*/
section:before {
  content:"";
  display:block;
  height:120px; /* fixed header height*/
  margin-top:-120px; /* negative fixed header height */
}

body {
  background: #FFBDBD;
}

h2 {
  font-size: 24px;
  text-decoration: underline;
  margin: 0;
}

section {
  text-align: center;
  width: 100%;
  border-bottom: 2px dashed #771111;
  margin-top: 50px;
  padding-bottom: 50px;
}

section ul {
  padding: 0;
}

section li {
  list-style: none;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.pricing-info {
  border: none;
}

.pricing-info p {
  text-align: center;
}

.reviews img {
  margin-bottom: 50px;
}

.quote {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  background: rgb(255, 156, 156);
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 5px;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  border-left: 10px solid #990000;
  padding: 10px;
  font-size: 16px;
}

blockquote::before {
  font-family: 'Times New Roman';
  content: open-quote;
  font-size: 36px;
  color: #990000;
}

blockquote::after {
  font-family: 'Times New Roman';
  content: close-quote;
  font-size: 36px;
  color: #990000;
}

.contact-info a {
  text-decoration: underline;
  color: black;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #771111;
}

@media only screen and (min-width: 800px) {
  nav p {
    right: 10px;
    top: -2px;
    position: fixed;
  }

  nav li {
    padding-left: 30px;
    padding-right: 30px;
  }

  nav a {
    font-size: 20px;
  }

  main {
    max-width: 80%;
  }
  
  main p {
    display: inline-block;
    vertical-align: top;
    max-width: 30%;
    font-size: 18px;
    margin-right: 5%;
    text-align: left;
  }
  
  main img {
    float: right;
    vertical-align: top;
    margin: 30px;
    margin-top: 10px;
    max-width: 50%;
  }

  .overflow-wrap {
    overflow: auto;
  }

  section {
    text-align: justify;
  }

  .reviews {
    clear: both;
  }

  .reviews img {
    max-width: 40%;
    max-height: 325px;
    float: right;
    margin: 0;
  }

  img.float-left {
    float: left;
    margin-right: 14%;
  }

  .quote {
    max-width: 45%;
    margin-bottom: 125px;
  }

  blockquote {
    font-size: 24px;
  }
}
